* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    width: 70%;
    margin: 0 auto;
    height: 100%;
}

:root {
    --body: rgb(39, 40, 43);
}


.container {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    min-height: 100%;

    align-items: center;
}

::-webkit-scrollbar {
    background-color: var(--body);
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(63, 65, 71);
    border-radius: 46px;
}

body {
    color: #fff;
    background-color: var(--body);
}

a {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    padding: 15px;
    border: 2px solid var(--button-login);
    border-radius: 4px;
}